<!doctype html>
<html>
<head>
	<!--
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='RGraph.common.core.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='RGraph.common.dynamic.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='RGraph.line.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='RGraph.vprogress.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mainFuncFalling.js') }}"></script>
    -->
	<meta charset="utf-8">
	<script type="text/javascript" src="static/js/jquery-1.4.2.min.js"></script>
	<!--<script type="text/javascript" src="static/RGraph.common.core.js"></script>-->
	<!--<script type="text/javascript" src="static/RGraph.common.dynamic.js"></script>-->
	<!--<script type="text/javascript" src="static/RGraph.line.js"></script>-->
	<!--<script type="text/javascript" src="static/RGraph.vprogress.js"></script>-->
	<script type="text/javascript" src="static/Chart.min.js"></script>
	<script type="text/javascript" src="static/mainFuncFalling.js"></script>
	<link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
	<style>
		html, body {
			width: 100%;
			height: 100%;
			margin: 0;
		}


		span {
			font-family: Arial !important;
			font-weight: 300 !important;
			font-size: 12px !important;
			color: #555 !important;

		}

		i {
			cursor: pointer;
			color:#858585;
		}
		.switch {
			float: right;
			height: 50px;
			color:#858585;

			padding-top: 5px;
			padding-right: 10px;
			-webkit-user-select: none;
			/* user-select -- это нестандартное свойство */

			-moz-user-select: none;
			/* поэтому нужны префиксы */

			-ms-user-select: none;
		}

		.switch > i, .switch > .page {
			display: inline-block;
			/*float: left;*/

		}

		.switch > i {
			cursor: pointer;
		}

		.page {
			vertical-align: super;
			font-size: 1.5em;
			margin: 0 10px;
		}
		.graphswitch {
			float: left;
			height: 42px;
			border-radius: 5px;
			background: #CDCBCC;
			color: #fff;
		}

		.graphswitch  {
			margin: 5px;
			margin-bottom: 18px;
		}

		.active {
			background: #6CCACA;
			color: #fff;
		}

		.fa-bar-chart {
			padding: 5px 10px;
			border-radius: 5px 0 0 5px;
		}
		.fa-area-chart {
			padding: 5px 10px;
			border-radius: 0 5px 5px 0;
		}
	</style>
</head>
<body>
<div class="graphswitch">
	<i class="fa fa-bar-chart fa-2x active" aria-hidden="true"></i>
	<i class="fa fa-area-chart fa-2x" aria-hidden="true"></i>
</div>
<div class="switch">
	<i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
	<div class="page"></div>
	<i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
</div>
<div class="c1">
	<canvas id="cvs" height="250" width="600"  style="float: left"></canvas>
	<canvas id="ctx" height="400" width="800"  style="float: left"></canvas>
</div>


</body>
</html>